dist: trusty

env:
    - DOTNET_CLI_TELEMETRY_OPTOUT=1 DOTNET_VERSION=2.1.402

branches:
    only:
        - master
        - dev
        - ci

language: python
python:
    - 3.6

addons:
    apt:
        sources:
            - sourceline: deb [arch=amd64] https://packages.microsoft.com/repos/microsoft-ubuntu-trusty-prod trusty main
              key_url: https://packages.microsoft.com/keys/microsoft.asc

        packages:
            - libunwind8
            - azure-functions-core-tools

cache:
    pip: true

before_install:
    - .ci/linux_install.sh

install:
    - .ci/linux_build.sh

script:
    - .ci/linux_tests.sh
